.music-preview {
  background-image: url('./assets/cloud-green.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: $spacing-20 $spacing-20 $spacing-40 $spacing-20;

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: $spacing-20;

    &--left {
      padding-bottom: $spacing-20;
    }

    .listing__shared a {
      color: $white;
    }

    @include bp-min(m) {
      flex-direction: row;

      &--left {
        padding-bottom: 0;
      }
    }
  }

  &__date {
    color: $white;
    margin: 0 $spacing-12 $spacing-12 0;
  }

  &__title {
    font-family: $Founders;
    text-transform: uppercase;
  }

  &__bottom {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
  }

  &__heading {
    @include text-size($font-heading2-size-mobile, $font-heading2-size);
    font-family: $Windsor;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
  }

  &__img {
    width: 300px; //TODO:
  }
}