.block-preview {
  background-image: url('./assets/cloud.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding: $spacing-40 0;
  display: flex;
  justify-content: center;

  &__img {
    width: 300px; //TODO:
    align-self: center;
  }

  &__link {
    display: flex;
  }

  @include bp-min(m) {
    padding: $spacing-20 $spacing-20 $spacing-40 $spacing-20;
  }
}