.footer {
  background-color: $black;
  display: flex;
  flex-direction: column;
  padding: $spacing-20 0 $spacing-20 $spacing-30;
  box-sizing: border-box;
  position: relative;
 
  &__contact--text,
  &__follow--text {
    @include animated-link();
    @include text-size($font-menu-size-mobile, $font-menu-size);
    color: $white;
    text-decoration: none;
    font-family: $Apercu;
    color: $accent-green;

    &:hover {
      cursor: pointer;
    }
  }

  @include bp-min(m) {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 0;
    padding-bottom: $spacing-30;
  }

  &__contact--text {
    order: 1;
    padding-bottom: $spacing-12;
    @include bp-min(m) {
      padding-bottom: 0;
    }
  }

  &__follow--text {
    order: 2;
    padding-bottom: $spacing-12;
    @include bp-min(m) {
      order: 3;
      padding-bottom: 0;
    }
  }

  &__logo {
    order: 3;
    @include bp-min(m) {
      order: 2;
    }
  }
}