$menu-height-closed: 110px;

.header-nav__wrap {
  top: 0;
  z-index: 100;
  position: sticky;
  overflow: hidden;
  background-color: $black;
  padding: $spacing-30;
  border-bottom: 2px solid $accent-green;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-nav {
  @include text-size($font-menu-size-mobile, $font-menu-size);
  transition: opacity 500ms ease;
  font-family: $Helvetica;

  &__link {
    @include animated-link();
    text-decoration: none;
    text-transform: uppercase;
    color: $accent-green;
    font-family: $Apercu;
  }

  &:hover {
    cursor: pointer;
  }
}

// Collapsed menu
.header-nav {
  opacity: 1;
  box-sizing: border-box;
  padding: $spacing-40 $spacing-20;

  @include bp-min(m) {
    padding: $spacing-40;
  }
}

.header-nav__title {
  @include text-size(30px, $font-heading4-size);
  border: none;
  background: none;
}