.logo-svg {
  width: 200px;

  .cls-1 {
    fill: $accent-green;
    transition: fill 200ms ease;
  }

  .cls-2 {
    fill: $black;
  }

  &:hover {
    cursor: pointer;
    .cls-1 {
      fill: $white;
    }
  }

  @include bp-min(m) {
    width: 300px;
  }
}