.next {
  &__wrap {
    display: flex;
    flex-direction: column-reverse;
    padding: $spacing-20 0 $spacing-40 0;

    @include bp-min(m) {
      flex-direction: row;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    @include bp-min(m) {
      flex-basis: 66.66%;
      flex-direction: row;
    }

    &--right {
      margin-left: $spacing-30;
      
      @include bp-min(m) {
        padding: $spacing-20 $spacing-40 $spacing-40 $spacing-20;
      } 
    }
  }

  &__btn {
    display: flex;
    padding: $spacing-20 $spacing-20 $spacing-20 $spacing-20;
    transition: background-color 500ms ease;

    &:hover {
      background-color: $next-item-blue;
      cursor: pointer;

      svg {
        fill: $white;
      }
    }

    @include bp-min(m) {
      flex-basis: 33.33%;
      flex-direction: column;
      align-items: flex-start;
    }

    &__txt {
      @include text-size($font-heading3-size-mobile, $font-heading2-size);
      text-align: center;
      position: relative;

      a {
        text-transform: uppercase;
        text-decoration: none;
        text-align: left;
        color: $black;
      }
    }

    &__svg {
      display: none;
      
      @include bp-min(m) {
        display: inline;
        transform: scale(0.65);
        transform-origin: left;
        overflow: visible;
        fill: #e6efff;
        transition: fill 500ms ease;
      }
    }


  }


  &__img {
    width: 100%;
  }

  &__title {
    @include animated-underline;
    @include text-size($font-heading4-size-mobile, $font-heading4-size);
    font-family: $Windsor;
    margin: $spacing-20 $spacing-20 $spacing-20 0;
    position: relative;
    
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: $black;
    }


    @include bp-min(m) {
      margin-right: 0;
    }
  }

  &__subtitle {
    @include text-size($font-meta-size-mobile, $font-meta-size);
    font-family: 'Value Serif';
    margin: $spacing-20 $spacing-20 $spacing-20 0; 

    @include bp-min(m) {
      margin-right: 0;
    }
  }

  &__photog,
  &__author {
    font-family: $Values;
    font-size: $font-category-size;
    &--wrap {
      a {
        font-size: $font-category-size;
      }
    }
  }

  &__photog {
    &--wrap {
      margin-top: $spacing-12;

      @include bp-min(m) {
        align-self: flex-end;
        margin-top: $spacing-20;
      }

    }
  }
}