.preview__wrap {
  display: flex;
  flex-direction: column;
  padding: 0 0 $spacing-30 0;
  
  @include bp-min(m) {
    flex-direction: row;
    width: 100%;
    padding: $spacing-60 0;
  }
}

.preview__left {
  display: flex;
  justify-content: flex-end;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;

  @include bp-min(m) {
    max-width: 500px;
    height: auto;
    margin-left: $spacing-30;
  }
}

.preview__right {
  margin: $spacing-20 0 0 $spacing-20;

  @include bp-min(m) {
    margin: 0 $spacing-40 0 $spacing-40;
    display: flex;
    flex-direction: column;
  }
}

.preview__category {
  a {
    text-transform: uppercase;
  }
}

.preview__title {
  @include animated-underline;
  font-family: $Windsor;
  margin: $spacing-20 0 $spacing-40 0;
  position: relative; 
  word-break: break-word;
  z-index: 0;

  // &:before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: rgba(226,196,79, 0.8);
  //   background: linear-gradient(77deg, rgba(226,196,79,0.8) 0%, rgba(226,196,79,0.8) 43%, rgba(255,255,255,0) 85%, rgba(255,255,255,0) 100%);
  //   z-index: -1;
  // }

  @include bp-min(m) {
    margin: $spacing-40 0 $spacing-75 0;
  }
    
  a {
    font-size: $font-heading4-size;
    text-transform: uppercase;
    text-decoration: none;
    color: $black;
  }
}

.preview__subtitle {
  font-family: 'Value Serif';
  font-size: $font-meta-size;
  margin: 0 0 $spacing-20 0; 

  @include bp-min(m) {
    margin: 0 0 $spacing-150 0; 
  }
}

.preview__photog,
.preview__author {
  font-family: $Values;
  font-size: $font-category-size;
}

.preview__author {
  &--title {
    text-transform: uppercase;
    font-family: $Founders;
  }
}

.preview__photog {
  &--wrap {
    margin-top: $spacing-12;

    @include bp-min(m) {
      align-self: flex-end;
      margin-top: $spacing-75;
    }
  }
}
