.vert-preview {
  display: flex;
  flex-direction: column;
  padding: $spacing-30;

  &__category {
    padding-bottom: $spacing-20;
  }

  &__img {
    max-width: 150px;
    object-fit: contain;
    padding-bottom: $spacing-20;
  }

  &__title {
    @include text-size($font-body-size-mobile, $font-body-size);
    @include animated-underline();
    font-family: $Windsor;


    &--link {
      text-decoration: none;
      color: $black;
      position: relative;
      margin-bottom: $spacing-20;
    }
  }

  &__subtitle {
    @include text-size($font-meta-size-mobile, $font-meta-size);
    font-family: $Values;
    padding-bottom: $spacing-20;
  }

  &__author--wrap {
    .listing__author a {
      font-size: $font-category-size;
    }
  }
}