/*
 * COLORS
 */
$BLACK: #212121;
$WHITE: #FFFFFF;

$BLUE: #008DF9;
$YELLOW: #FCC831;
$GREEN: #38B996;
$RED: #F15925;

/*
 * TEXT
 */
$PRIM_HEADING: 48px;


/*
 * SPACING
 */
$XL-SPACE: 64px;
$LARGE-SPACE: 32px;
$MEDIUM-SPACE: 24px;

/*
 * SPEED
 */
$MEDIAN: 100ms;