$white: #FFF;
$black: #000;
$gray: #979797;
$blue: #0000FF;
$accent-blue: #78ecf0;
$accent-gray: #343333;
$accent-green: #41e600;
$accent-gray-blue: #8e9bb1;
$default-theme-accent-gold: #e2c44f;
$next-item-blue: #e6efff;

body {
  background-color: $black;
}