@import url("https://hello.myfonts.net/count/390f74");

@font-face {
  font-family: 'Founders Grotesk';
  font-style: normal;
  font-display: fallback;
  src: url('../../static/fonts/FoundersGrotesk/FoundersGroteskTextWeb-Light.woff') format('woff'),
    url('../../static/fonts/FoundersGrotesk/FoundersGroteskTextWeb-Light.woff2') format('woff2');
}

@font-face {
font-family: 'WindsorD-Reg';
src: url('../../static/fonts/Windsor/390F74_0_0.woff2') format('woff2'),
url('../../static/fonts/Windsor/390F74_0_0.woff') format('woff');
}

@font-face {
font-family: 'value-serif-bold';
src: url('../../static/fonts/ValuesSerif/value-serif-bold.woff') format('woff'),
     url('../../static/fonts/ValuesSerif/value-serif-bold.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Garamond Premiere Pro';
src: url('../../static/fonts/Garamond/GaramondPremrPro-Med.otf') format('otf');
font-weight: normal;
font-style: normal;
}
