@font-face {
  font-family: "Apercu Mono";
  font-style: normal;
  font-display: fallback;
  src: url("../../static/fonts/Apercu-Mono.otf") format("otf"),
    url("../../static/fonts/Apercu-Mono.woff") format("woff"),
    url("../../static/fonts/Apercu-Mono.woff2") format("woff2");
}

@font-face {
  font-family: "PostGrotesk";
  font-style: normal;
  font-display: fallback;
  src: url("../../static/fonts/PostGrotesk-Light.woff") format("woff"),
    url("../../static/fonts/PostGrotesk-Light.woff2") format("woff2");
}
