$spacing-150: 150px;
$spacing-75: 75px;
$spacing-60: 60px;
$spacing-40: 40px;
$spacing-30: 30px;
$spacing-20: 20px;
$spacing-12: 12px;




// SIZES - MOBILE FIRST
// If you change a breakpoint here, make sure to also change breakpoints in /assets/javascript/utils/constants.js
$small-min: 320px;
$medium-min: 768px;
$large-min: 1024px;
$xlarge-min: 1440px;
$xxlarge-min: 1600px;

// SIZES - DESKTOP FIRST
$tiny-max: $small-min - 1;
$small-max: $medium-min - 1;
$medium-max: $large-min - 1;
$large-max: $xlarge-min - 1;
$xlarge-max: $xxlarge-min - 1;
