$Times: "Times New Roman", serif;
$Helvetica: Helvetica, Arial, sans-serif;
$Apercu: "Apercu Mono", sans-serif;
$Post: "PostGrotesk", sans-serif;

////////////////////
// FONT SIZES
////////////////////
//// DESKTOP
$font-heading1-size: 200px;
$font-heading2-size: 86px;
$font-heading3-size: 54px;
$font-heading4-size: 48px;

$font-body-size: 30px;
$font-desc-size: 36px;
$font-meta-size: 23px;
$font-menu-size: 18px;
$font-category-size: 15px; // TODO:
$font-post-featured-desc-size: 26px;
$font-newsletter-size: 104px;


//// MOBILE
$font-heading1-size-mobile: 86px; //TODO:
$font-heading2-size-mobile: 36px;
$font-heading3-size-mobile: 54px;
$font-heading4-size-mobile: 25px;

$font-body-size-mobile: 20px; //TODO: 
$font-desc-size-mobile: 30px;
$font-meta-size-mobile: 18px;
$font-menu-size-mobile: 18px;
$font-category-size-mobile: 15px; // TODO:
$font-newsletter-size-mobile: 48px; //

$footer-text-size-mobile: 74px;
$font-meta-about-mobile: 18px;  // TODO:



// // article desktop
// 18 // nav, date, tag
// 36 // dec
// 30 // author, body
// 48 // tag, quotes
// 24 // author at bottom

// // article mobile
// 100 // title