.listing__photographer {
    @include animated-link();
    position: relative;
    font-family: $Helvetica;
    text-decoration: none;
    color: blue;
    text-transform: uppercase;
    @include text-size($font-menu-size-mobile, $font-body-size);

}