.slice__body-text {
    @include slice-spacing();
    @include text-size($font-body-size-mobile, $font-body-size);
    line-height: 1.5em;
    font-family: $Helvetica;
    p {
        padding-bottom: $spacing-75;
    }
    @include bp-min(m) {

    }
}