.two-img__wrap {
  display: flex;
  justify-content: space-evenly;

  @include bp-min(m) {
    margin-bottom: $spacing-75;
    justify-content: unset;
  }

  .slice__img {
    padding-left: 0;

    &--img {
     // transform: scale(1);
    }
    &:first-child {
      padding-right: $spacing-30;
    }

    &:nth-child(2) {
     // transition: transform 1000ms ease;
    }
  }

  &.-active {
    .slice__img {
      &--img {
       // transform: scale(1);
      }
  
      &:nth-child(2) {
       // transform: translateY(-$spacing-75);
        
        @include bp-min(m) {
         // transform: translateY(-$spacing-150);
        }
      }
    }
  }

}