.top-nav-wrapper {
	display: flex;
	justify-content: space-between;
	background-color: $BLUE;
	padding: $LARGE-SPACE;
	font-size: $MEDIUM-SPACE;
	border-bottom: 10px solid $YELLOW;

	& a {
		color: $WHITE;
		text-decoration: none;
		transition: all $MEDIAN linear;

		&:hover {
			font-style: italic;
			text-decoration: underline;
			transition: all $MEDIAN linear;
		}
	}
}

.top-nav-li {
	list-style: none;
}