.top-nav-wrapper {
	display: flex;
	justify-content: space-between;
	background-color: $BLACK;
	padding: 32px;

	& a {
		color: $WHITE;
		text-decoration: none;
	}
}

.top-nav-li {
	list-style: none;
}