.about {
    &__wrap {
        margin: $spacing-30 0;
    }

    &__intro {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &__img {
            width: 90%;
            margin: 0 auto;
        }
    }
}

.about__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $accent-green;
    position: absolute;
    
    @include bp-min(m) {
       // padding: $spacing-150 $spacing-150 300px $spacing-150;
    }
            
    &__text {
        @include text-size($font-desc-size-mobile, $font-desc-size);
        font-family: $Apercu;
        width: 60%;
        background-color: $black;
        color: $accent-green;
        padding: $spacing-30;
        text-align: center;
        line-height: 1.5; 

        p {
            //margin-bottom: $spacing-40;
        }

        @include bp-min(m) {
           //padding: $spacing-150;

            p {
                //margin-bottom: $spacing-75;
            }
        }
    }

    &__email--text,
    &__insta--text {
        font-size: $font-meta-about-mobile;
        font-family: $Apercu;
        background-color: $black;

        @include bp-min(m) {
            font-size: $font-meta-size;
            padding: $spacing-20;
            margin: $spacing-20;
        }
    }

    &__insta--text {
        a {
            text-decoration: none;
            color: $white;
            transition: color 200ms ease;

            &:hover {
              color: $accent-green;
            }

        }
    }

    &__email--text {
        color: $white;
        text-decoration: none;
        transition: color 200ms ease;
        &:hover {
            color: $accent-green;
        }
    }

}