@import 'about';
@import 'home';

.home__feature__wrap {
  position: relative;
}

.home__title {
  @include text-size($font-heading1-size-mobile, $font-heading1-size);
  font-family: $Helvetica;
  display: none;

  @include bp-min(m) {
    display: inline;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 3000ms ease;
  }

  &.-faded {
    opacity: 0;
  }
}

.home__content {
  &__wrap {
    display: flex;
    flex-direction: column;

    &--right {
      display: none;
    }

    @include bp-min(m) {
      flex-direction: row;
      overflow: auto;

      &--left {
        flex-basis: 80%;
        overflow: hidden;
        
      }
    
      &--right {
        flex-basis: 20%;
        display: inline;
      }
    }
  }

  &__latest {
    background-color: $accent-gray-blue;
    height: 90px;
    position: relative;

    &--link {
      @include animated-underline($white);
      color: $white;
      text-decoration: none;
      font-family: $Helvetica;
      font-size: $font-menu-size;
      position: absolute;
      right: 0;
      top: 35px;
      margin-right: $spacing-30;
    }
  }

  &__donate {
    background-image: url('./assets/donate.png');
    background-repeat: repeat;
    background-color: $black;
    width: 100%;
    height: 100%;

    &:hover {
      cursor: pointer;
    }

    &--link {
      display: inline;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
  
    &--left,
    &--right {
      width: 100%;
    }

    // style the title of the music block
    &--right a {
      text-decoration: none;
      color: $black;
    }

    @include bp-min(m) {
      flex-direction: row;

      &--left,
      &--right {
        width: 50%;
      }
    }
  }
}

