/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Apercu-Mono";
  src: url("./fonts/Apercu-Mono.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Apercu-Mono.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}