@import 'fonts';
@import 'global';

body {
    background-color: white;
    margin: 10vw;
}

.heading {
    color: $orange;
    display: flex;
    justify-content: center;
    min-height: 250px;
    @include breakpoint(m) {
        min-height: 800px;
    }
    &__wrap {
        position: relative;
    }

    &__logo {
        position: absolute;
        z-index: 10;
        width: 50vw;
        height: auto;
        top: -30px;
        @include breakpoint(m) {
            top: -100px;
        }
    }

    &__canvas {
        width: 90vw;
        height: auto;
        margin: 0 auto;
        display: block;
        position: absolute;
    }
}

.text {
    &__title {
        text-align: center;
        font-size: 24px;
        @include breakpoint(m) {
            font-size: 88px;
        }
    }
}

.images {
    .image {
        width: 75vw;
        @include breakpoint(m) {
            width: 40vw;
        }

        &--left {
            @include breakpoint(m) {
                margin-right: 2.5vw;
            }
        }

        &--right {
            align-self: flex-end;
            margin-top: 24px;
            @include breakpoint(m) {
                margin-top: 0;
                margin-left: 2.5vw;
            }
        }

        &__wrap {
            display: flex;
            flex-direction: column;
            @include breakpoint(m) {
                flex-direction: row;
            }
        }
    }
}

.to-observe {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 600ms ease, transform 600ms ease;
    &.-active {
        opacity: 1;
        transform: translateY(0);
    }
}