@import 'fonts';
@import 'global';

body {
    background-color: white;
}

.heading {
    margin: 10vw;
    color: $orange;
    display: flex;
    justify-content: center;

    &__wrap {
        position: relative;
    }

    &__logo {
        position: absolute;
        z-index: 10;
        width: 50vw;
        height: auto;
        transform: translateY(-150px);
        @include breakpoint(m) {
            transform: translateY(-300px);
        }
    }

    &__canvas {
        width: 90vw;
        height: auto;
        margin: 0 auto;
        display: block;
    }
}

.text {
    margin: 10vw;
    &__title {
        text-align: center;
        font-size: 24px;
        @include breakpoint(m) {
            font-size: 80px;
            margin-top: 24px;
        }
    }

    &__body {
        text-align: center;
        font-size: 18px;
        @include breakpoint(m) {
            font-size: 32px;
            margin-top: 12px;
        }
    }
}

.images {
    .image {
        width: 75vw;
        opacity: 0;
        transform: translateY(80px);
        transition: opacity 400ms ease, transform 800ms ease;
        &.-active {
            opacity: 1;
            transform: translateY(0);
        }

        &--left {
            @include breakpoint(m) {
                margin-right: 2.5vw;
            }
        }

        &--right {
            align-self: flex-end;
            margin-top: 24px;
            @include breakpoint(m) {
                margin-top: 0;
                margin-left: 2.5vw;
            }
        }

        &--center {
            margin: 0 10vw;
        }

        @include breakpoint(m) {
            width: 40vw;
        }

        &__wrap {
            display: flex;
            flex-direction: column;
            @include breakpoint(m) {
                flex-direction: row;
                margin: 10vw;
            }
        }
    }
}

.link {
    color: $black;
    transition: color 250ms ease;
    &:hover {
        color: $green;
        cursor: pointer;
    }
}