body {
	font-family: 'EB Garamond', serif;
	margin: 0;
	background-color: #000;
}

.root {
	width: 100%;
}

.inner-root {
	position: fixed;
	width: 100vw;
	height: 100vh;
	bottom: 0;
	right: 0;
	background-image: url('../assets/bg.JPG');
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	background-color: rgba(0, 0, 0, 0.3);
	background-blend-mode: multiply;
	display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
	width: 75%;
}