body {
	font-family: 'EB Garamond', serif;
	margin: 0;
	background-color: #000;
}

.root {
	width: 100%;
	height: 3000px;
}

.inner_root {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 10%;
  left: 0;
  right: 0;
}

.inner_root span {
	font-size: 10em;
	font-weight: 700;
	display: block;
	text-align: center;
	text-transform: uppercase;
	animation: cycleCol 0.25s infinite linear;
}

.skull_wrap {
	display: block;
	position: fixed;
	line-height: 0.25;
	margin-top: 7%;
}

.skull_wrap pre {
	line-height: 0.25;
	margin-left: 10%;
	color: red;
	text-shadow: 2px 2px #000;
}

@keyframes cycleCol {
 	0% { color: #000; text-shadow: 10px 10px #FF0000; }
  50% { color: #FF0000; text-shadow: 10px 10px #000; }
  100% { color: #000; text-shadow: 10px 10px #FF0000; }
}

@media (max-width:641px)  {
	.inner_root span {
		font-size: 6em;
	}
}
