.author-page {
  &__info-wrap {
    padding-left: $spacing-30;
  }

  &__title {
    @include text-size($font-heading2-size-mobile, $font-heading2-size);
    font-family: $Windsor;
    padding-bottom: $spacing-20;
  }

  &__bio {
    @include text-size($font-desc-size-mobile, $font-desc-size);
    font-family: $Values;
    padding-bottom: $spacing-20;
    display: block;
  }

  &__subtitle {
    @include text-size($font-desc-size-mobile, $font-desc-size);
    font-family: $Values;
  }
}