.post__header {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid $black;
  padding-top: $spacing-20;
  
  @include bp-min(m) {
    flex-direction: row;
    padding-top: $spacing-40;
  }

  &--right {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 $spacing-20 $spacing-20 $spacing-20;
    
    @include bp-min(m) {
      margin-right: $spacing-40;
      margin-bottom: $spacing-40;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: contain;
    align-self: flex-end;
  }


  &__title {
    @include text-size($font-heading2-size-mobile, $font-heading2-size);
    font-family: $Apercu;
    text-transform: uppercase;
    margin: $spacing-20 0 $spacing-40 0;
    position: relative;
    color: $accent-green;

    @include bp-min(m) {
      margin: $spacing-40 0 $spacing-40 0;
    }


  }

  &__subtitle {
    @include text-size($font-heading4-size-mobile, $font-desc-size);
    font-family: $Post;
    margin: 0 0 $spacing-20 0; 
    color: $accent-green;

    @include bp-min(m) {
      margin: 0 0 $spacing-75 0; 
    }
  }

}

.post__body {
  display: flex;
  flex-direction: row-reverse;
  padding: $spacing-75 $spacing-20 0 $spacing-20;
  font-family: $Post;
  color: $accent-green;

  @include bp-min(m) {
    padding: $spacing-75 $spacing-150 0 0;
    flex-direction: row;
  }

  &--slicewrap {
    width: 100%;
  }
}
